

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

#root{
    display: flex;
    flex-direction: column;
    
}

header{
    background-color: rgb(51,51,51);
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
body{
    background-color: #990100;
}

.titulo{
    color: white;
    margin: 1rem;
    font-size: 4rem;
}

.titulo:hover{
    text-decoration: none;
    color: white;
}
.nav{
    color: white;
    width: 500px;
    height: 60px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #1d1d1d;
    padding: 0 0.4rem;
    margin: 1rem 0;
    color: #fff;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 10px #202020;
    
}

.alinear-dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu{
    border-radius: 10px;
    background-color: rgb(28, 28, 28);
}

.dropdown-item{
    color: white;
}

.box{
    color: white;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.4s;
    
}

.box:hover{
    color: white;
    text-decoration: none;
    transform: translateY(-10px);
    background: linear-gradient(to right, #990100, #B90504);
    transform: scale(1.2);
}

.material-symbols-outlined{
    cursor: pointer;
    transition: transform 0.4s;
}

.img{
    width: 240px;
    height: 240px;
    border-radius: 10px;
}

.list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.producto{
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 1rem 1.5rem;
    background-color: rgb(51,51,51);
    border-radius: 10px;
    transition: transform 0.4s;
}
.producto:hover{
    transform: scale(1.1);
    transition: transform 0.4s;
    box-shadow: 10px 5px 5px #B90504;
    cursor: pointer;
}
.titulo-producto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    margin: .5rem;
    text-align: center;
}

.titulo-detail{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 700;
    margin: .5rem;
    text-align: center;
}
.mensaje{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 1rem;
    font-size: 3rem;
}

.precio-producto{
    margin: .5rem;
    font-weight: 600;
    font-size: 1.8rem;
    color: white;
}

.contador-producto{
    margin: 0 .5rem 1rem .5rem;
    color: white;
    width: 95%;
}

.btn{
    margin:.3rem;
}
.detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.producto-detail{
    width: 80%;
    margin: 1rem;
    background-color: rgb(51,51,51);
    border-radius: 10px;
    transition: transform 0.4s;
}

.img-detail{
    width: 43%;
    margin: 1rem;
    float: left;
    border-radius: 10px;
}

.container-descripcion{
    float: right;
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.descripcion-producto{
    color: white;
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 1rem;
    padding: .5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.precio-detail{
    color: white;
    font-size: 2.4rem;
    text-align: center;
    margin: 1rem;
}

.cantidad{
    text-align: center;
    font-size: 1.5rem;
}

.btn-confirmar{
    width: 70%;
}

.loader {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.loader::before{
    content: '';
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px);
    position: absolute;
    width: 140px;
    height: 55px;
    z-index: 20;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.274);
    border-top: none;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.082);
    animation: anim2 2s infinite;
}

.loader div {
    background: rgb(228, 228, 228);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: -1;
    animation: anim 2s infinite linear;
    animation-delay: calc(-0.3s * var(--i));
    transform: translateY(5px);
    margin: 0.2em;
}

@keyframes anim {
    0%, 100%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-65px);
    }
}

@keyframes amim2{
    0%, 100%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(10deg);
    }
}