*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

#root{
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(51,51,51);
}

h1{
    color: white;
}

